<div>
  <h1>God panel</h1>
  <p>create</p>
  <select (change)="changeComponentType($event)" [value]="$create" name="" id="">
    <option *ngFor="let item of $componentsList" value="{{item}}">{{item}}</option>
  </select>
  <input (keyup)="$text = $event.target.value" type="text">
  <button (click)="submit()">submit</button>
</div>

<div>

  <!-- Begin page content -->
  <main role="main" class="container">
    <ndv-container *ngFor="let container of $containerMetaData" [metadata]="container"></ndv-container>
  </main>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Это футер!!!</span>
    </div>
  </footer>


</div>
